### Trabalho Hidroelétrica

- Código da Estação:  65925770
- Nome da Estação: SÍTIO SÃO JOÃO (PINHEIRO JUSANTE)
- Tipo da Estação: Fluviométrica

In [23]:
!pip install sweetviz -q

WARNING: Ignoring invalid distribution -rotobuf (c:\users\embrapii\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\embrapii\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\embrapii\miniconda3\lib\site-packages)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
import pandas as pd
import numpy as np
import sweetviz as sv

In [47]:
df = pd.read_csv('data/65925770_Vazoes.csv', encoding='cp1252', sep=';', skiprows=15)
df = df [['Data', 'Maxima', 'Minima', 'Media']]
df = df.set_index('Data')

In [48]:
df = df.dropna()
df

           Maxima Minima   Media
Data
01/12/2008    0,3    0,1  0,1645
01/11/2008    5,5    0,3  1,1667
01/10/2008    5,5    0,2  1,3129
01/09/2008    0,5    0,2  0,2733
01/08/2008    4,4    0,2  0,8806
...           ...    ...     ...
01/04/2004    0,3    0,1  0,1333
01/03/2004    0,2    0,1  0,1323
01/02/2004    0,3    0,1  0,2086
01/01/2004    0,6   0,25  0,3581
01/12/2003    5,5    0,3  1,5387

[61 rows x 3 columns]

In [49]:
colunas_para_converter = ['Maxima', 'Minima', 'Media']

for coluna in colunas_para_converter:
    df[coluna] = df[coluna].str.replace(',', '.').astype(float)

In [50]:
df.index = pd.to_datetime(df.index, dayfirst=True)

# Definir o período arbitrário de 10 anos
inicio = '2000-01-01'
fim = '2010-12-31'

df_periodo = df[(df.index >= inicio) & (df.index <= fim)]

vazao_maxima = df_periodo['Maxima'].max()
vazao_minima = df_periodo['Minima'].min()
vazao_media = df_periodo['Media'].mean()

vazao_firme = df_periodo['Media'].quantile(0.1)  # Firme como valor que excede 90% do tempo

print(f"Vazão Máxima: {vazao_maxima}")
print(f"Vazão Mínima: {vazao_minima}")
print(f"Vazão Média: {vazao_media}")
print(f"Vazão Firme: {vazao_firme}")

Vazão Máxima: 5.5
Vazão Mínima: 0.1
Vazão Média: 0.583406557377049
Vazão Firme: 0.1333

In [51]:
df.to_excel('dados.xlsx', index=False)